@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <header>
       
        <img src="~/assets/images/401.svg"  alt="Unauthorie" class="h-400px"/>
        <h1 class="text-primary fst-italic">@ViewData["Title"]</h1>
        <p class="text-primary">You do not have access to this resource.</p>
    </header>
</div>
